/* style.css */

body {
    background-image: url('../images/landschap.jpg'); /* Go up one folder to access images */
    background-size: cover;      /* Ensure the background covers the whole screen */
    background-position: center; /* Center the background */
    background-attachment: fixed; /* Keep background fixed when scrolling */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */

}

h1 {
    color: rgb(255, 253, 253); /* Make text readable on dark backgrounds */
    text-align: center; /* Center the text horizontally */
    padding-top: 10%; /* Move the text down */
    margin-bottom: 10px;  /* Add space below the heading */
}





.container {
    text-align: center;  /* Center-align the content */
    margin: 10px;
}

.container img {
    width: 900px;  /* Set the width for both images */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: 20px;  /* Add space between the two images */
}
/* style.css */
#myChart {
    background-color: rgb(220, 220, 235);  /* Set background color for the canvas */
}


